* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-image: url(Imagenes/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header, footer{
    background-color: rgba(231, 231, 77, 0.5);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 7px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav a{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    box-shadow: 7px -3px 68px 5px rgb(9, 99, 217);
}

nav a:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
}


img{
    width: 100%;
    margin: auto;
}

.logo{
    width: 140px;
}

.logo img{
    border-radius: 50%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 40px;
    background-color: rgba(255, 255, 100, 0.3);
    margin: 15px 0;
    padding: 30px;
}

.col2 img{
    text-align: center;
    width: 75%;
    margin: auto;
    display: block;
}

.col2{
    border: 1px dashed rgb(218, 218, 100);
    width: 47%;
    box-shadow: 5px 5px 5px 5px rgb(173, 173, 173);
    padding: 20px;
}

.col3 {
    width: 30%;
}

body{
    margin-left: 40px;
    margin-right: 40px;
}

.Galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Galeria img {
    width: 200px;
    border-radius: 20px;
}

.imagen2 {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.imagen2 img {
    width: 200px;
    padding: 20px;
    margin: auto;
}

.imagen2 .filter1:hover {
    filter: hue-rotate(90deg);
    transform: scale(1.1);
}

.imagen2 .filter2:hover {
    filter: blur(5px);
    transform: scale(1.1);
}

.imagen2 .filter3:hover {
    filter: brightness(1.5);
    transform: scale(1.1);
}

.imagen2 .filter4:hover {
    filter: grayscale(50%);
    transform: scale(1.1);
}

.imagen2 .filter5:hover {
    filter: saturate(200%);
    transform: scale(1.1);
}

#dife{
    border-radius: 50%;
}

.imagen{
    width: 25%;
    margin: auto;
}

.imagen img {
    border-radius: 50%;
    border: 8px solid greenyellow;  
}

.imagen img:hover{
    filter: sepia();
    transform: scale(0.7);
    transition: 0.5s ease-in-out;
}

/*




*/