* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-image: url(Imagenes/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header, footer{
    background-color: rgba(231, 231, 77, 0.5);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


img{
    width: 100%;
    margin: auto;
}

.logo{
    width: 140px;
}

.logo img{
    border-radius: 50%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    background-color: rgba(255, 255, 100, 0.3);
    margin: 15px 0;
    padding: 30px;
}

.col2img{
    width: 45%;
    margin: auto;
    display: block;
}

.col2{
    border: 1px dashed rgb(218, 218, 100);
    width:  450px;
    box-shadow: 5px 5px 5px 5px rgb(173, 173, 173);
    padding: 20px;
}

body{
    margin-left: 40px;
    margin-right: 40px;
}

.Galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Galeria img {
    width: 200px;
    border-radius: 20px;
}

#dife{
    border-radius: 50%;
}